<%- include("partials/header"); -%>

<h1 class="about">about me</h1>
<h7 class="short-des1">I'm a Full Stack Web Developer</h7>
<h7 class="short-des2">from Indore, India</h7>
<p class="about-para">I enjoy taking complex problems and turning them into <br>
   simple and beautiful interface designs. I also love the logic <br>
   and structure of coding and always strive to write elegant <br>
   and efficient code, whether it be HTML, CSS or Javascript. <br> <br>

   When I'm not coding or pushing pixels, You'll find me making <br>
   crazy beats and melodies or playing football  <br>
   Peace !!   </p>


<i class="fab fa-instagram"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-linkedin-in"></i>

<img class="my-image" src="/myPhoto.jpg" alt="">

<%- include("partials/footer"); -%>
